body{
  background: linear-gradient(to right, rgb(255, 30, 140) 10%, rgb(255, 102, 57), rgb(255, 230, 29) 40%, rgb(255, 230, 29), rgb(255, 230, 29) 60%, rgb(87, 229, 98), rgb(31, 179, 253) 85%, rgb(31, 179, 253), rgb(31, 179, 253));
}
.pan-flag {
    border-radius: 20px;
    height: 300px;
    width:300px
  }
  div.my-flexbox{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  }
  .pan-drawing {
    width: 250px;
    height: 250px;
  }
  .pan-animal {
    width:250px;
    height:250px;
  }
  .pan-merch {
    width:150px;
    height:230px;
  }
  .pan-cat {
    width:200px;
    height: 200px
  }
  .pan-phone {
    width: 250px;
    height: 250px;
  }
  .pan-pin {
    width:250px;
    height: 250px;
  }
  .pan-collection{
    width:250px;
    height:250px;
  }
  .pan-dragon{
    width:250px;
    height:250px;
  }
  .pan-bird{
    width:250px;
    height:250px;
  }
  div.pantitle {
    background: linear-gradient(to bottom, #bb0935, #e7dc42, #035191);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }