body{
    --color: oklch(63% 0.1381 0);
    background: linear-gradient(90deg in oklch longer hue, var(--color), var(--color));
    --color: oklch(78.81% 0.1056 0);
  padding-left: 100px;
}
div.title-leader {
  width: 30%;
  padding-bottom: 30px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  background: linear-gradient(to bottom, rgb(207, 70, 72), rgb(238, 110, 64), rgb(224, 220, 81) 27%, rgb(99, 199, 32), rgb(86, 113, 197), rgb(97, 55, 155));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
  font-size: 70px;
}
a {
  text-decoration: underline overline;
}
.huh{
  height: 250px;
  width: 250px;
  float: right;
}
.pan-link {
  background: linear-gradient(to right, #db1943, #fcee74, #73aafc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display:inline-block;
}
.gay-girl-flexbox {
  display:flex;
  justify-content:flex-start;
}
.gay-girl {
  height: 500px;
  width: 450px;
  border-radius: 20px;
}